### Get the data from Yahoo Finance.

In [6]:
import pandas as pd
import yfinance as yf # library to downloading historical stock prices

In [19]:
df_yahoo = yf.download(['AAPL', 'MSFT'],
                      start='2000-01-01',
                      end='2020-10-05',
                      progress=False)
df_yahoo

             Adj Close                   Close                    High  \
                  AAPL        MSFT        AAPL        MSFT        AAPL
Date
1999-12-31    0.793253   37.259617    0.917969   58.375000    0.918527
2000-01-03    0.863657   37.199776    0.999442   58.281250    1.004464
2000-01-04    0.790842   35.943153    0.915179   56.312500    0.987723
2000-01-05    0.802415   36.322121    0.928571   56.906250    0.987165
2000-01-06    0.732975   35.105415    0.848214   55.000000    0.955357
...                ...         ...         ...         ...         ...
2020-09-28  114.959999  209.440002  114.959999  209.440002  115.320000
2020-09-29  114.089996  207.259995  114.089996  207.259995  115.309998
2020-09-30  115.809998  210.330002  115.809998  210.330002  117.260002
2020-10-01  116.790001  212.460007  116.790001  212.460007  117.720001
2020-10-02  113.019997  206.190002  113.019997  206.190002  115.370003

                               Low                    Open              \
                  MSFT        AAPL        MSFT        AAPL        MSFT
Date
1999-12-31   58.875000    0.888393   58.125000    0.901228   58.750000
2000-01-03   59.312500    0.907924   56.000000    0.936384   58.687500
2000-01-04   58.562500    0.903460   56.125000    0.966518   56.781250
2000-01-05   58.187500    0.919643   54.687500    0.926339   55.562500
2000-01-06   56.937500    0.848214   54.187500    0.947545   56.093750
...                ...         ...         ...         ...         ...
2020-09-28  212.570007  112.779999  208.059998  115.010002  210.880005
2020-09-29  210.070007  113.570000  206.809998  114.550003  209.350006
2020-09-30  211.979996  113.620003  206.539993  113.790001  207.729996
2020-10-01  213.990005  115.830002  211.320007  117.639999  213.490005
2020-10-02  210.990005  112.220001  205.539993  112.889999  208.000000

               Volume
                 AAPL      MSFT
Date
1999-12-31  163811200  12517600
2000-01-03  535796800  53228400
2000-01-04  512377600  54119000
2000-01-05  778321600  64059600
2000-01-06  767972800  54976600
...               ...       ...
2020-09-28  137672400  32004900
2020-09-29   99382200  24221900
2020-09-30  142675200  33780700
2020-10-01  116120400  27158400
2020-10-02  144310900  33114400

[5223 rows x 12 columns]

In [21]:
df_yahoo = yf.download('AAPL',
                      start='2000-01-01',
                      end='2020-10-05',
                      auto_adjust=True,
                      actions='inline', 
                      progress=False)
df_yahoo

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1999-12-31,0.778786,0.793735,0.767695,0.793253,163811200,0.0,0.0
2000-01-03,0.809166,0.867997,0.784573,0.863657,535796800,0.0,0.0
2000-01-04,0.835206,0.853530,0.780715,0.790842,512377600,0.0,0.0
2000-01-05,0.800486,0.853048,0.794700,0.802415,778321600,0.0,0.0
2000-01-06,0.818810,0.825562,0.732975,0.732975,767972800,0.0,0.0
...,...,...,...,...,...,...,...
2020-09-28,115.010002,115.320000,112.779999,114.959999,137672400,0.0,0.0
2020-09-29,114.550003,115.309998,113.570000,114.089996,99382200,0.0,0.0
2020-09-30,113.790001,117.260002,113.620003,115.809998,142675200,0.0,0.0
2020-10-01,117.639999,117.720001,115.830002,116.790001,116120400,0.0,0.0
2020-10-02,112.889999,115.370003,112.220001,113.019997,144310900,0.0,0.0

### Get data from Quandle

In [26]:
# Before we can find our personal API key in our profile
import quandl

QUANDL_KEY = '7ws1X3GThPB87W8r7tmA'
quandl.ApiConfig.api_key = QUANDL_KEY

In [32]:
# The correct format is: `DATABASE_CODE/DATASET_CODE`
df_quandl = quandl.get(dataset='WIKI/AAPL',
                      start_date='2000-01-01',
                      end_date='2020-10-05')

In [30]:
df_quandl

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2000-01-03,104.87,112.50,101.69,111.940,4783900.0,0.0,1.0,3.369314,3.614454,3.267146,3.596463,133949200.0
2000-01-04,108.25,110.62,101.19,102.500,4574800.0,0.0,1.0,3.477908,3.554053,3.251081,3.293170,128094400.0
2000-01-05,103.75,110.56,103.00,104.000,6949300.0,0.0,1.0,3.333330,3.552125,3.309234,3.341362,194580400.0
2000-01-06,106.12,107.00,95.00,95.000,6856900.0,0.0,1.0,3.409475,3.437748,3.052206,3.052206,191993200.0
2000-01-07,96.50,101.00,95.50,99.500,4113700.0,0.0,1.0,3.100399,3.244977,3.068270,3.196784,115183600.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-03-21,175.04,175.09,171.26,171.270,35247358.0,0.0,1.0,175.040000,175.090000,171.260000,171.270000,35247358.0
2018-03-22,170.00,172.68,168.60,168.845,41051076.0,0.0,1.0,170.000000,172.680000,168.600000,168.845000,41051076.0
2018-03-23,168.39,169.92,164.94,164.940,40248954.0,0.0,1.0,168.390000,169.920000,164.940000,164.940000,40248954.0
2018-03-26,168.07,173.10,166.44,172.770,36272617.0,0.0,1.0,168.070000,173.100000,166.440000,172.770000,36272617.0
2018-03-27,173.68,175.15,166.92,168.340,38962839.0,0.0,1.0,173.680000,175.150000,166.920000,168.340000,38962839.0